.projects {
  max-width: 1000px;
  margin: auto;
}

.project-item-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: var(--light-blue);
  margin: 0px auto 20px auto;
  border-radius: 6px;
}

.projects-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
}

@media screen and (max-width: 1134px) {
  .projects-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 672px) {
  .projects-content {
    grid-template-columns: repeat(1, 1fr);
  }
}

.project-image {
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.project-info {
  padding: 10px;
  height: inherit;
}

.project-info .description {
  margin: 10px 0px 20px 0px;
}

.project-link {
  font-size: 1em;
}

.project-name {
  margin-top: 0px;
}

.project-tools {
  font-family: monospace;
  margin: 10px 0px;
  color: var(--sky-blue-crayola-2-a-2);
  padding: 0px 10px 20px 10px;
}


/* .project-item {
  display: flex;
  grid-gap: 20px;
  flex-wrap: wrap;
  padding: 30px 0px;
  align-items: center;
  justify-content: center;
}

.project-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.project-image {
  width: 100%;
  max-width: 400px;
  min-width: 280px;
  border-radius: 10px;
}

.project-info {
  background: var(--light-blue);
  padding: 10px;
  flex: 1;
  max-width: 400px;
  min-width: 280px;
}

.project-info .description {
  margin: 10px 0px;
}

.project-link {
  font-size: 1.5em;
}

.project-name {
  margin-top: 0px;
}

.project-tools {
  font-family: monospace;
  margin: 10px 0px;
  color: var(--sky-blue-crayola-2-a-2);
} */
