.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  min-height: calc(100vh - 70px);
  overflow: visible;
  position: relative;
  animation: pop-up 1s;
}

.name {
  font-weight: 900;
  font-size: 6rem;
  font-family: sans-serif;
  background-image: var(--gradient1);
  background-clip: text;
  color: transparent;
  background-size: 400%;
  animation: bg 8s infinite alternate;
}

@keyframes bg {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes pop-up {
  0% {
    top: 20px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

.intro {
  flex: 2;
  font-size: 5rem;
}

@media only screen and (max-width: 1854px) {
  .intro {
    font-size: 4.5rem;
  }
  .name {
    font-size: 5.5rem;
  }
}

@media only screen and (max-width: 1710px) {
  .intro {
    font-size: 4rem;
  }
  .name {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 1564px) {
  .intro {
    font-size: 3.5rem;
  }
  .name {
    font-size: 4.5rem;
  }
}

@media only screen and (max-width: 1420px) {
  .intro {
    font-size: 3rem;
  }
  .name {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 1294px) {
  .intro {
    font-size: 2.5rem;
  }
  .name {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 1190px) {
  .intro {
    font-size: 2rem;
  }
  .name {
    font-size: 3rem;
  }
}


@media only screen and (max-width: 1076px) {
  .intro {
    font-size: 1.5rem;
  }
  .name {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 948px) {
  .intro {
    font-size: 1.3rem;
  }
  .name {
    font-size: 2.2rem;
  }
}

.nav-links {
  display: flex;
  grid-gap: 20px;
  align-items: center;
}

.menu {
  display: none;
  /* color: var(--sky-blue-crayola-2); */
  font-size: 1.5rem;
}

.menu-links {
  font-size: 1.1em;
  z-index: 100;
  position: fixed;
  right: 0px;
  height: 100vh;
  top: 0px;
  background-color: var(--light-blue);
  max-width: 300px;
  width: 50%;
  min-width: 200px;
  text-align: center;
  filter: blur(0);
  overflow: scroll;
}

.open {
  animation: open-menu 0.5s;
  display: block;
}

.close {
  right: -300px;
}

.close-animation {
  animation: close-menu 0.5s;
}

@keyframes open-menu {
  0% {
    right: -300px;
  }
  100 {
    right: 0px;
  }
}

@keyframes close-menu {
  0% {
    right: 0px;
  }
  100 {
    right: -300px;
  }
}

.blur {
  filter: blur(5px);
  z-index: -1;
  pointer-events: none;
}

@media only screen and (max-width: 768px) {
  .intro {
    font-size: 1.5rem;
    text-align: center;
    padding: 1.5em 0px;
  }
  .name {
    font-size: 2.5rem;
  }
  .header {
    display: block;
  }
  .links {
    display: none;
  }
  .nav-links {
    display: none;
  }
  .menu {
    display: block;
  }
}

@media only screen and (max-width: 606px) {
  .intro {
    font-size: 1rem;
  }
  .name {
    font-size: 2rem;
  }
}

.menu-links .menu-close {
  text-align: right;
  font-size: 2rem;
  margin: 10px 20px 0px 0px;
}

.menu-links div {
  margin: 2em;
}

.menu-link {
  text-decoration: none;
  color: var(--honeydew);
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--sky-blue-crayola-2);
}

.profile {
  flex: 1;
  text-align: center;
}

.profile .img {
  border-radius: 50%;
  width: 100%;
  max-width: 300px;
  height: auto;
  transition: all 0.3s;
  box-shadow: 0px 20px 30px #111111;
  border: var(--honeydew) solid 1px;
}

.letter {
  transition: 0.3s;
  position: relative;
  top: 0px;
}

.letter:hover {
  color: var(--sky-blue-crayola-2);
  text-shadow: -2px 0 var(--honeydew), 0 2px var(--honeydew), 2px 0 var(--honeydew), 0 -2px var(--honeydew);
  /* top: -10px; */
  font-weight: bold;
}

.nav {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  align-items: flex-end;
}

.logo {
  padding:  0.5em 0.9em;
  color: var(--sky-blue-crayola-2);
  font-size: 1.2rem;
  font-weight: bold;
  display: grid;
  align-items: center;
  text-align: center;
  border: 2px solid var(--sky-blue-crayola-2);
  transition: 0.3s;
  text-decoration: none;
}

.logo:hover,
.logo:focus {
  background-color: var(--sky-blue-crayola-2-a);
}

.link {
  text-decoration: none;
  color: var(--honeydew);
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
}

.link:hover,
.link:focus {
  color: var(--sky-blue-crayola-2);
}

.link:focus {
  outline: dashed 2px;
  outline-offset: 8px;
}

.number {
  font-family: "Atkinson Hyperlegible";
}

.button {
  cursor: pointer;
  padding: 0.7em 1em;
  border-radius: 5px;
  color: var(--sky-blue-crayola-2);
  border: 1px solid var(--sky-blue-crayola-2);
  outline-offset: 0.7em 1em;
  outline: solid 0px;
  transition: 0.2s;
  background-color: transparent;
}

.button:hover,
.button:focus {
  background-color: var(--sky-blue-crayola-2-a);
  outline: solid 1px;
  outline-offset: 3px;
}

.links {
  position: fixed;
  bottom: calc(50vh - 116px);
  left: 10px;
  font-size: 1.5rem;
  text-align: center;
  z-index: 10;
}

.links .link{
  background-color: var(--prussian-blue);
  display: block;
  margin: 1em;
  width: 1em;
  cursor: pointer;
}

.links .circle {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 1px solid var(--sky-blue-crayola-2);
  position: fixed;
  left: -450px;
  bottom: calc(50vh - 250px);
}

.links .git {
  left: -7px;
}

.links .ig {
  left: 5px;
}

.links .fb {
  left: 3px;
}

.links .in {
  left: -7px;
}

.nav-links .link {
  border-bottom: 1px solid var(--sky-blue-crayola-2);
  z-index: 1;
}

.nav-links .link::before {
  position: absolute;
  right: 0px;
  background: var(--prussian-blue);
  z-index: -1;
  transition: 0.3s;
  content: '';
  height: 50px;
  width: 100%;
}

.nav-links .link:hover::before {
  height: 50px;
  width: 0%;
}

.sub-content {
  min-height: 100vh;
  padding: 20px 0px;
  opacity: 0;
}

.exp {
  max-width: 750px;
  margin: auto;
  opacity: 0;
}

.exp-content {
  display: flex;
}

.tab-content {
  background-color: var(--light-blue);
  border-radius: 10px;
  min-height: 50px;
  padding: 20px;
}

@media only screen and (min-width: 670px) {
  .tab-content {
    width: 100%;
  }
}

.tab {
  font-size: 0.9em;
  min-width: 180px;
  padding-right: 20px;
}

.tab-item {
  border-left: 3px solid var(--light-blue);
  padding: 12px 15px;
  cursor: pointer;
  transition: 0.3s;
}

.tab-item:hover {
  background-color: var(--light-blue);
  color: var(--sky-blue-crayola-2);
}

.active-tab {
  background-color: var(--light-blue);
  color: var(--sky-blue-crayola-2);
  border-left: 3px solid var(--sky-blue-crayola-2);
}

.inactive-tab-content {
  display: none;
}

.active-tab-content {
  animation: show-tab-content 0.5s;
}

@keyframes show-tab-content {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.role {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.exp-name {
  font-size: 1.1rem;
  margin-bottom: 15px;
  font-family: var(--font);
}

.date {
  font-size: 0.9rem;
}

ul {
  padding-left: 0px;

}

li {
  list-style: none;
  margin-bottom: 10px;
}

li:before {
    content:"</>";
    font-size:0.9rem;
    color: var(--sky-blue-crayola-2);
    margin-right: 10px;
}

@media only screen and (max-width: 670px) {
  .exp-content {
    display: block;
  }
  .tab {
    display: flex;
    margin-bottom: 30px;
    overflow: scroll;
  }
  .tab-item {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    min-width: 100px;
    border-bottom: 3px solid var(--light-blue);
  }
  .active-tab {
    border-bottom: 3px solid var(--sky-blue-crayola-2);
  }
}

.subheading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 50px;
  padding-bottom: 5px;
  margin-top: 0px;
  border-bottom: 2px solid var(--sky-blue-crayola-2);
}

.subheading .number {
  color: var(--sky-blue-crayola-2);
}

.appear {
  position: relative;
  animation: pop-up 1s;
  opacity: 1;
}

.contact {
  max-width: 800px;
  margin: auto;
}

.contact-content {
  text-align: center;
  font-size: 1.2rem;
  /* margin: auto; */
  /* width: 80%; */
}

.contact-link {
  margin: 20px;
  font-size: 1.4em;
  transition: 0.3s;
  top: 0px;
}

.contact-link:hover {
  top: -10px;
}

.contact-message {
  margin-bottom: 20px;
}

.contact-form {
  text-align: left;
}

.contact-form .info {
  display: flex;
  grid-gap: 5%;
  flex-wrap: wrap;
}

.contact-form .info div {
  flex: 1;
  min-width: 220px;
}

.input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 2px solid #fff;
  color: #fff;
  background-color: var(--light-blue);
  resize: vertical;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 0.8em;
}

.input:focus {
  outline: none;
  border: 2px solid var(--sky-blue-crayola-2);
}
